$bg-header:     radial-gradient(160.65% 47.4% at 93% 52.6%, #482C98 0%, rgba(45, 30, 136, 0) 100%), #06054A;
$bg-mobile:     radial-gradient(93.2% 1204.95% at 79.33% 383.02%, #482C98 0%, rgba(45, 30, 136, 0) 100%), #06054A;
$text-purpur:          #2F2949; 
$text-grey:            #777777; 
$background:           #E5E5E5;
$bg-button:            #F0F1FA;
$bg-color:             #52458A;
$white:                #FFFFFF;
$black:                #000000;
$border:               #DDDDDD;
$bg-beta:              #656AD9;
$copyrigt:             #ACADC1;
